name: PR Title Linter

on:
  pull_request:
    types: [opened, reopened, edited, synchronize]
    branches:
      - main

jobs:
  pr-linter-test:
    name: PR Linter Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Semantic Release PR Title Check
        uses: osl-incubator/semantic-release-pr-title-check@v1.4.3
        with:
          convention-name: conventionalcommits
